

h1{
    color: brown;
}


.formlook{
    width: 80%;
    padding: 5px;
}

.center_div{
    margin: 0 auto;
    width:80%; /* value of your choice which suits your alignment */
    margin-bottom: 300px;
}

.header_fix{
    margin:30px 0 40px 0;
}

.all_eq{
    width: 90%;
    margin-left: auto; 
    margin-right: auto;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
}