{% extends 'base.html' %}

{% block content %}


<div class="container all_eq">

  <h1 style="margin-top:30px"> All Equipment List</h1>

    <div class="col-md-4">
      <form action="{% url 'all_equipment_search' %}" method=POST>
        {% csrf_token %}
       <div class="mb-3">
       <label for="search_equipment" class="form-label"> </label>
       <input type="text" class="form-control" name="search_equipment" placeholder="Search Asset no."/>
      </div>
       <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <br>
    <p>Total Equipement no.: {{count}}</p>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id#</th>
            <th scope="col">Asset #</th>
            <th scope="col">Assigned To:</th>
            <th scope="col">Device Type:</th>
            <th scope="col">Device Model:</th>
            <th scope="col">Date Created:</th>
            <th scope="col">Date Assigned:</th>
            <th scope="col">In Service:</th>
            <th scope="col">Location Status:</th>
          </tr>
        </thead>
       
        
        <tbody>
            {% for item in eqlist %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url "view_equipment" item.id %}"> {{item.asset_no}} </a></td>
            <td>{{item.assigned_to}}</td>
            <td>{{item.device_type}}</td>
            <td>{{item.device_model}}</td>
            <td>{{item.created_date}}</td>
            <td>{{item.date_assigned}}</td>
            <td>{{item.in_service}}</td>
            <td>{{item.location_status}}</td>
          </tr>
          {% endfor %}
        </table>
        

        <br>

        {% if eqlist.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{eqlist.previous_page_number}}">Previous</a>
        {% endif %}

        Page {{ eqlist.number }} of {{ eqlist.paginator.num_pages }}

        {% if eqlist.has_next %}
        <a href="?page={{eqlist.next_page_number}}">next</a>
        <a href="?page={{eqlist.previous.num_pages}}">Last &raquo</a>
        {% endif %}

    </div>

       

{% endblock %}