{% extends 'base.html' %}

{% block content %}


        <div class="container" style="width:1000px; margin-top:70px;">
            <div class="title h1 text-center"><h1> IT Equipment: {{equipment.asset_no}} </h1></div>
            <div class="card ">
              <div class="row ">
          
                <div class="col-sm-7">
                  <div class="container card-block" style="margin: 40px;">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <p>Assigned_to: <span style="font-weight: 700">{{equipment.assigned_to}}</span></p>
                    <p><i class="fas fa-file"></i>Asset no: <span style="font-weight: 700">{{equipment.asset_no}}</p></span>
                    <p>Equipment Price: <span style="font-weight: 700">£{{equipment.price}}</p></span>
                    <p>Device Type: <span style="font-weight: 700">{{equipment.device_type}}</p></span>
                    <p>Device Make: <span style="font-weight: 700">{{equipment.device_make}}</p></span>
                    <p>Device model: <span style="font-weight: 700">{{equipment.device_model}}</p></span>
                    <p>Serial no: <span style="font-weight: 700">{{equipment.serial_no}}</p></span>
                    <p>Location status: <span style="font-weight: 700">{{equipment.location_status}}</p></span>
                    <p>In service: <span style="font-weight: 700">{{equipment.in_service}}</p></span>
                    <p>Purchase reason: <span style="font-weight: 700">{{equipment.purchase_reason}}</p></span>
                    
                  </div>
                  
                </div>
          
                {% if equipment.image %}
                <div class="col-sm-5">
                  <img class="d-block w-100 rounded" style="padding: 0px;" src="{{ equipment.image.url }}" alt="">
                </div>
              </div>
            </div>

            {% else %}

            <div class="col-sm-5">
                <img class="d-block w-100 rounded" style="padding: 0px;" src="" alt="">
              </div>
            </div>
          </div>
            {% endif %}

    
            
            <div class="container d-flex" style="margin-top: 15px;">
                
            
                <form action="{% url 'edit_equipment' equipment.id %}" method="GET"> 
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Edit</button>
               </form> 
            
                        
        
            <button type="button" class="btn btn-danger">
                    <a href="{% url 'delete_equipment' equipment.id %}" style="color: white;">Delete</a>
            </button>
            
            </div>
        

        </div>



{% endblock %}